{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "ignore": [
        "__tests__",
        "**/*.test.js",
        "**/*.spec.js"
      ]
    },
    "production": {
      "ignore": [
        "__tests__",
        "**/*.test.js",
        "**/*.spec.js"
      ]
    }
  }
}